---
- name: Trigger Bright Cluster installation (network)
  hosts: head_node
  gather_facts: true
  become: true

  pre_tasks:

    - name: Upload base distributions repo packages
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ ansible_env.HOME }}"
      loop:
        - cm-config-cm.noarch.rpm
        - cm-config-yum.noarch.rpm

  roles:
    - role: brightcomputing.installer92.head_node
      vars:
        install_medium: network
        install_medium_network_packages:
          - "{{ ansible_env.HOME }}/cm-config-cm.noarch.rpm"
          - "{{ ansible_env.HOME }}/cm-config-yum.noarch.rpm"
        post_install_default_image_archive: "{{ ansible_env.HOME }}/ROCKY8u5.tar.gz"
