---
- name: Install Bright head node on AWS
  hosts: head_node
  gather_facts: true
  become: true

  pre_tasks:
    - name: Resolve {{ cloud }} parameters
      include_tasks: "tasks/resolve_{{ cloud }}_params.yml"
      tags:
        - always

  roles:
    - role: brightcomputing.installer92.head_node
